@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* background: linear-gradient(331.06deg, #000000 -4.19%, #343A42 93.63%); */
  background-image: url('./assets/background.svg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0px 30px;
}

.loadingPokemons {
  color: #fff;
  font-family: Poppins;
  margin: 0px;
  padding-top: 20px;
}
